| ---
| layout: default
| title: Tok3n Signup Page
| progress_value: 0
| ---

.view-wrapper#signupHome

  .container-fluid.info-box
    h1.text-center.text-weight-light Sign Up For Tok3n Today

  form.signup-form.container-fluid(role='form')
    .row
      .col-md-6
        .form-group
          label.sr-only(for='firstNameInput') First Name
          input#firstNameInput.form-control(type='text', placeholder='First name')
      .col-md-6
        .form-group
          label.sr-only(for='lastNameInput') Last name
          input#lastNameInput.form-control(type='text', placeholder='Last name')
    .row
      .col-md-12
        .form-group
          label.sr-only(for='emailInput') Email address
          input#emailInput.form-control(type='email', placeholder='Email address')
    //- .row
    //-   .col-md-6
    //-     .form-group
    //-       label.sr-only(for='passwordInitialInput') Password
    //-       input#passwordInitialInput.form-control(type='password', placeholder='Password')
    //-   .col-md-6
    //-     .form-group
    //-       label.sr-only(for='passwordConfirmInput') Password, again
    //-       input#passwordConfirmInput.form-control(type='password', placeholder='Password, again')
    
    .row
      .col-md-12
        .form-group
          h3.text-center.text-weight-light Choose a verification option
          .btn-group.btn-group-table(data-toggle="buttons")
            label.btn.btn-default
              | SMS Message
              input(type="radio" name="signupOptions" id="signupSms")
            label.btn.btn-default
              | iOS App
              input(type="radio" name="signupOptions" id="signupIos")
            label.btn.btn-default
              | Andriod App
              input(type="radio" name="signupOptions" id="signupAndroid")

    .row
      .col-md-6.col-md-offset-3
        p.text-center
          a.btn.btn-success.btn-lg.btn-block(href='{{ site.baseurl }}pages/send-code', role='button')
            | Get Started
