| ---
| layout: default
| title: Verify With Tok3n for iOS
| progress_value: 1
| ---

.view-wrapper#iosApp
  
  .container-fluid.signup-form
    .row
      .col-md-12
        h2.text-center.text-weight-light
          | Tok3n for iOS

        ol.lrg
          li Open the App Store on your iOS device.
          li Search for <em>Tok3n</em>.
          li Install and open the app.

    .row
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        a.btn.btn-success.btn-block.btn-lg(href='{{ site.baseurl }}pages/verify-phone', role='button') Ok, Got It!
    