| ---
| layout: default
| title: Code Confirmation
| progress_value: 2
| ---

.view-wrapper#confirmCode
  
  .container-fluid.info-box
    .row
      .col-md-12
        h2.text-center.text-weight-light
          | Please enter the code you received

  form.container-fluid.signup-form

    .row
      .col-md-6.col-sm-6
        .form-group
          label.sr-only Confirmation code
          input.form-control.text-center(type='phone', placeholder='Confirmation code')
      .col-md-6.col-sm-6
        .form-group
          a.btn.btn-success.btn-block(href='{{ site.baseurl }}pages/signup-complete', role='button') Go

    .row
      p.text-center.text-subtle-regular
        span.block
          | Didn't receive a code? 
          a(href='#') Resend it
        span.block
          | or authenticate with a 
          a(href='#') QR code
          |  or 
          a(href='#') phone call
          | .